#START
SELECT_START_DB=DEV

#CREATE
CREATE_MODEL=false

#DATABASE
DB_URL_DEV=postgresql://admin:11301@localhost:5432/check_ambulance?sslmode=disable
DB_URL_PROD=

#EMAIL
EMAIL=
EMAIL_PASSWORD=

#MOPH_ALERT
MOPH_ALERT_METHOD=POST
MOPH_ALERT_URL=https://morpromt2c.moph.go.th/alert/v3.1/messages
MOPH_ALERT_CLIENT_ID=
MOPH_ALERT_SECRET_KEY=

#URL_VALID
URL_CHECK_CID=
URL_CHECK_CID_HEADER=
URL_CHECK_CID_TOKEN=

#OTP
OTP_EXPIRES_IN=

#JWT
JWT_SECRET=
JWT_EXPIRES_IN=

#CORS
CORS_ORIGINS=http://10.10.11.12:3000,http://localhost:3000
CORS_CREDENTIALS=true
CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_HEADERS=Content-Type,Authorization

#PATH_UPLOADS_IMGES
UPLOAD_PATH=D:/uploads/images

#PORT_START_SERVER
PORT=8080