#START
SELECT_START_DB=DEV
#CREATE
CREATE_MODEL=false
#DATABASE
DB_URL_DEV=
DB_URL_PROD=
#EMAIL
EMAIL=
EMAIL_PASSWORD=
#MOPH_ALERT
MOPH_ALERT_METHOD=POST
MOPH_ALERT_URL=https://morpromt2c.moph.go.th/alert/v3.1/messages
MOPH_ALERT_CLIENT_ID=
MOPH_ALERT_SECRET_KEY=
#OTP
OTP_EXPIRES_IN=
#JWT
JWT_SECRET=
JWT_EXPIRES_IN=
#PATH_UPLOADS_IMGES
UPLOAD_PATH=D:/uploads/images
#PORT_START_SERVER
PORT=8080